html {
  font-size: 18px;
  font-family: Helvetica;

}

.container {
  display: flex;
  width: 960px;
  flex-direction: column;

}

header {
  background-color: black;
  width: 100%;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#logo p {
  margin: .66rem 0;
  color: white;
}

#logo img {
  height: 1.5rem;
  margin-left: .5rem;
  margin-right: 1rem;
}

/*banner*/

#banner {
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;

}

.banner-box {
  width: 20rem;
  background-color: black;
  color: white;
  font-weight: bold;
  padding-left: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: absolute;
  z-index: 2;
  margin-top: 9rem;
}

.arrival {
  font-size: 1rem;
}

.features {
  font-size: 2rem;
  margin-top: .25rem;
}


nav {
  display: inline-flex;
  background-color: firebrick;
  width: 100%;
  justify-content: space-around;


}

nav a {
  color: white;
  margin: .75rem;
  text-decoration: none;
}



.container .gallery {
  display: flex;
  justify-content: center;
  justify-content: space-between;

}

.item {
  display: flex;
  height: 13rem;
  width: 30%;
  border: 4px solid black;


}

.item img {
  height: 9rem;
  justify-content: center;

}

.item h6 {
  display: block;
  background-color: black;
  color: white;
  padding: .5rem;
  text-align: center;

}
